.sidebar {
    background: linear-gradient(to bottom, #1DC7EA 0%, #4091ff 100%);
    border-radius: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 235px;
    width: 235px;
    margin-left: -235px;
    bottom: 0;
    padding-bottom: 40px;
    transition: all .2s ease-in-out;

    .wrapper-logo {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu-items {

        a {
            color: #FFFFFF;
            margin: 5px 15px;
            opacity: .86;
            border-radius: 4px;
            text-transform: uppercase;
            line-height: 30px;
            font-size: 12px;
            font-weight: 600;
            padding: 10px 15px;
            
            &:hover {
                opacity: 1;
                background: rgba(255, 255, 255, 0.23);
            }
        }
    }
}

.active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.23);
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}