@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

body {
    font-size: 1em;
    height: 100vh;

    .fa-15 {
        font-size: 1.5em;
    }
}